@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Press+Start+2P&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    overflow: hidden;
    cursor: url('assets/console.png'), default;
}


h1 {
    font-family: 'Cabin Sketch', cursive;
    color: rgb(2, 44, 129);  
    position: absolute;
    font-size: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.background {
    width: 100%;
    height: 100vh;
    background: url('assets/jose-larrazolo-S8bde3hkBR8-unsplash.jpg');
    opacity: 0.2;
}

figurecaption {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(63, 137, 177); 
}

.gameboy-body {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 550px;
    background-color: rgb(141, 105, 161);
    border-radius: 2rem;
}

.black-screen {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 260px;
    height: 260px;
    background-color: rgb(0, 0, 0);
}

.some, .red, .purple, .green, .yellow, .blue {
    position: absolute;
    top: 90%;
    transform: translateX(-50%);
    font-size: 18px;
}

.some {
    left: 34%;
    color: rgba(255, 255, 255, 0.783);
}

.red {
    left: 56%;
    color: rgb(255, 0, 0);
}

.purple {
    left: 61%;
    color: rgb(128, 0, 255);
}

.green {
    left: 66%;
    color: rgb(58, 176, 8);
}

.yellow {
    left: 71%;
    color: rgb(249, 249, 0);
}

.blue {
    left: 76%;
    color: rgb(0, 187, 175);
}

.screen {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 210px;
    height: 210px;
    background-color: rgba(162, 162, 162, 0.646);
}

.press-start {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    position: absolute;
    top: 80%;
    left: 62%;
    transform: translateX(-50%);
    width: 180px;
}

.vertical {
    height: 75px;
    width: 15px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 62%;
    left: 22%;
    transform: translateX(-50%);
    border-radius: 2rem;
}

.horizontal {
    height: 15px;
    width: 65px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    border-radius: 2rem;  
    top: 67%;
    left: 22%;
    transform: translateX(-50%);
}

.arrow {
    height: 2px;
    width: 8px;
    background-color: rgb(104, 104, 104);
    position: absolute;
}

.top-a {
    top: 64%;
    left: 20%;
    transform: translateX(-50%);
    transform: rotate(-45deg);
}

.top-b {
    top: 64%;
    left: 22%;
    transform: translateX(-50%);
    transform: rotate(45deg);
}

.bottom-a {
    top: 73%;
    left: 20%;
    transform: translateX(-50%);
    transform: rotate(45deg);
}

.bottom-b {
    top: 73%;
    left: 22%;
    transform: translateX(-50%);
    transform: rotate(-45deg);
}

.left-a {
    top: 68%;
    left: 12%;
    transform: translateX(-50%);
    transform: rotate(-45deg);
}

.left-b {
    top: 69%;
    left: 12%;
    transform: translateX(-50%);
    transform: rotate(45deg);
}

.right-a {
    top: 68%;
    left: 29%;
    transform: translateX(-50%);
    transform: rotate(45deg);
}

.right-b {
    top: 69%;
    left: 29%;
    transform: translateX(-50%);
    transform: rotate(-45deg);
}

.a-btn, .b-btn {
    width: 36px;
    height: 36px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    position: absolute;
    color: rgb(131, 131, 131);
    text-align: center;
    font-size: 22px;
    padding: 2px;
}

.a-btn{
    top: 62%;
    left: 78%;
}

.b-btn {
    top: 67%;
    left: 60%;
}

.select, .start {
    height: 10px;
    width: 42px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    border-radius: 2rem; 
    color: rgb(131, 131, 131);
    padding: 4px;
    text-align: center;
}

.select {
    bottom: 5%;
    left: 38%;
    transform: translateX(-50%);
    
}

.start {
    bottom: 5%;
    left: 60%;
    transform: translateX(-50%);
}

.a-btn, .b-btn, .select, .start {
    cursor: pointer;
}

.change-images {
    position: absolute;
    left: 72%;
    top: 28%;
    transform: translateX(-50%);
    width: 100%;
}

#photo {
    visibility: hidden;
    width: 55%;
    position: absolute;
}

#pokeball {
    width: 45%;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
}

#search, .zubat {
    visibility: hidden;
}

#name, #submit {
    /* visibility: hidden; */
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

#name {
    width: 60%;
}

#submit {
    margin-top: 30px;
    background-color: teal;
    color: white;
    padding: 10px;
}

.search-results, .zubat {
    border: 2px solid rgb(0, 0, 0);
    width: 450px;
    height: 350px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.pokemon-result, .type, .zubat-text {
    position: absolute;
    bottom: 24%;
    font-size: 16px;
}

.pokemon-result {
    left: 5%;
}

.type {
    right: 35%;
}

.back-btn {
    height: 20px;
    position: absolute;
    bottom: 10px;
    font-family: 'Press Start 2P', cursive;
    background-color: teal;
    color: white;
    padding: 10px 10px 20px 10px;
    cursor: pointer;
}

.back-btn2 {
    height: 20px;
    position: absolute;
    bottom: 10px;
    font-family: 'Press Start 2P', cursive;
    background-color: teal;
    color: white;
    padding: 10px 10px 20px 10px;
    cursor: pointer;
}

.zubat {
    right: 35%;
    text-align: center;
}

.zubat img {
    position: absolute;
    top: 10%;
    width: 50%;
    height: 50%;
}